.page {
    background-image     : var(--bg-image);
    background-color     : var(--main-bg-color);
    background-position  : center;
    background-size      : cover;
    background-attachment: fixed;
    background-repeat    : no-repeat;
    font-family          : var(--main-font-family);
}

.header {
    height               : 100vh;
    min-height           : 668px;
    display              : grid;
    position             : relative;
    grid-template-rows   : 1fr min-content 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding              : clamp(10px, 2.65vw, 20px);
}

.header__title {
    font-family : var(--main-font-family);
    font-weight : 700;
    font-size   : clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height : 83%;
    color       : var(--header-logo-color);
    justify-self: center;
    text-shadow : 4px 4px 0 var(--title-shadow-color);
    grid-column : 1 / 3;
    grid-row    : 2;
}

.header__subtitle {
    background-color: var(--background-subtitle-color);
    grid-row        : 3;
    grid-column     : 1 / 3;
    align-self      : center;
    max-width       : 355px;
}

.title__decor {
    font-family: var(--font-family);
    font-weight: 700;
    font-size  : var(--main-text-size);
    line-height: var(--main-line-height);
    color      : var(--subtitle-decor-color);
}

.header__theme-menu {
    justify-self: end;
    grid-column : 2;
    grid-row    : 1;
    align-self  : center;
}

.header__theme-menu-list {
    display: grid;
    gap    : 10px;
}

.header__theme-menu-button {
    padding         : 1px 14px;
    background-color: inherit;
    border          : none;
    font-size       : var(--main-text-size);
    line-height     : var(--main-line-height);
    text-align      : center;
    text-transform  : lowercase;
    cursor          : pointer;
    color           : var(--nav-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    outline       : 1px solid var(--nav-color);
}

.header__theme-menu-button:focus-visible {
    border       : none;
    outline      : none;
    border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--nav-hover-color);
}



.header__rec {
    text-transform: uppercase;
    color         : var(--nav-color);
    font-weight   : 400;
    font-size     : var(--main-text-size);
    line-height   : var(--main-line-height);
    justify-self  : end;
    position      : absolute;
    width         : 10px;
    top           : 11px;
    right         : 59px;
}

.header__rec::before {
    content         : "";
    position        : absolute;
    width           : 9px;
    height          : 9px;
    border-radius   : 100%;
    top             : 7px;
    right           : -40px;
    background-color: var(--main-heading-color);
    box-shadow      : 0 0 4px 2px var(--main-heading-color)
}

.decorated-zone::after {
    content      : "";
    position     : absolute;
    width        : 25px;
    height       : 25px;
    border-bottom: 1px var(--corner-color) solid;
    border-left  : 1px var(--corner-color) solid;
    left         : 11px;
    bottom       : 10px;
}

.decorated-zone::before {
    content     : "";
    position    : absolute;
    width       : 25px;
    height      : 25px;
    border-top  : 1px var(--corner-color) solid;
    border-right: 1px var(--corner-color) solid;
    right       : 9px;
    top         : 10px;
}

.content {
    display              : grid;
    grid-template-columns: 1fr;
}

.content-section {
    display    : grid;
    font-size  : var(--main-text-size);
    font-style : normal;
    line-height: var(--main-line-height);
    padding    : 10px;
}

.content-section__title {
    color      : var(--title-decor-color);
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size  : var(--main-text-size);
    line-height: var(--main-line-height);
    max-width  : 355px;
    margin-top : 30px;
}

.text-block {
    display: grid;
}

.text-block__title {
    background-color: var(--background-title-color);
    color           : var(--subtitle-decor-color);
    font-weight     : 700;
    line-height     : var(--main-line-height);
    font-family     : var(--main-font-family);
    font-size       : var(--main-text-size);
    margin-top      : 20px;
}

.text-block__subtitle {
    font-weight  : 400;
    margin-bottom: 10px;
}

.text-block__content {
    color      : var(--main-text-color);
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size  : var(--main-text-size);
    line-height: var(--main-line-height);
    margin-top : 9px;
}

.text__link {
    text-decoration: none;
    text-shadow    : 2px 2px 0 var(--link-color);
}

.text__link:hover {
    border-bottom: 1px solid var(--link-hover-color);
}

.text__link:focus-visible {
    outline: 1px solid var(--link-focus-color);
}

.gallery {
    padding   : 10px;
    margin-top: 30px;
}

.gallery__title {
    font-family     : var(--main-font-family);
    font-weight     : 700;
    font-size       : var(--main-text-size);
    line-height     : var(--main-line-height);
    color           : var(--subtitle-decor-color);
    background-color: var(--background-title-color);
    margin-bottom   : 10px;
}

.gallery__list {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : 10px;
    font-size            : 0;
}

.gallery__image {
    height    : 100%;
    width     : 100%;
    object-fit: cover;
}

.footer {
    block-size: 100vh;
    min-height: 677px;
    position  : relative;
    display   : grid;
}

.footer__title {
    font-family : var(--main-font-family);
    font-weight : 700;
    font-size   : var(--footer-logo-size);
    line-height : 83%;
    color       : var(--footer-logo-color);
    justify-self: center;
    align-self  : center;
    position    : relative;
    text-shadow : 2px 2px 0 var(--title-shadow-color);
}

@media (width >=768px) {
    .header__title {
        font-size   : var(--header-logo-size);
        justify-self: start;
        margin-left : -20px;
    }

    .header__subtitle {
        grid-column: 2;
        max-width  : 364px;
    }

    .header__rec {
        top  : 20px;
        right: 70px;
    }

    .decorated-zone::after {
        left  : 20px;
        bottom: 20px;
    }

    .decorated-zone::before {
        right: 20px;
        top  : 20px;
    }

    .content {
        padding: 10px;
        margin : 0;
    }

    .content-section {
        display              : grid;
        grid-template-columns: 1fr 2fr;
        column-gap           : 30px;
        margin-top           : 40px;
    }

    .content-section__title {
        margin   : 0;
        max-width: 236px;
    }

    .text-block__title {
        margin: 0;
    }

    .text-block__content {
        margin-bottom: 0;
    }

    .why {
        .text-block__title {
            margin-bottom: 10px;
        }

        .text-block__content {
            margin-bottom: 10px;
        }
    }

    .what {
        .content-section__title {
            grid-column  : 1 / -1;
            margin-bottom: 21px;
        }

        .text-blocks {
            grid-column: 1 / -1;
        }

        .text-block__title {
            margin-top: 3px;
        }

        .text-block__content {
            margin-bottom: 20px;
        }
    }

    .how {
        .content-section__title {
            margin: 0;
        }

        .text-block__title {
            margin-bottom: 10px;
        }

        .text-block__subtitle {
            margin-top: 10px;
    }

        .text-block__content {
            margin-bottom: 21px;
        }
    }

    .text-blocks {
        grid-column: 2 / 4;
    }

    .gallery {
        margin-top: 32px;
    }

    .gallery__title {
        margin: 0;
    }

    .gallery__list {
        grid-template-columns: repeat(3, 1fr);
        gap                  : 20px;
        margin               : 0;
    }

    .gallery__list-item {
        object-fit     : cover;
        object-position: center;
    }

    .gallery__list-item__sunset__pic {
        grid-column: 1 / 3;
        grid-row   : 2 / 3;
    }

    .gallery__list-item__ice-cream__pic {
        grid-column: 3 / 4;
        grid-row   : 2 / 4;
    }

    .gallery__list-item__caset {
        grid-column: 1 / 2;
        grid-row   : 3 / 6;
    }

    .gallery__list-item__boock {
        grid-column: 2 / 3;
        grid-row   : 3 / 4;
    }

    .gallery__list-item__street {
        grid-column: 2 / 4;
        grid-row   : 4 / 6;
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (width >=1024px) {
    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__subtitle {
        max-width: 491px;
    }

    .how .content-section {
        margin-top: 50px;
    }

    .header__theme-menu {
        grid-column : 1 / 3;
        justify-self: center;
        align-self  : start;
    }

    .header__theme-menu-list {
        display: flex;
    }

    .content-section__title {
        max-width: 315px;
    }

    .what {
        .content-section {
            display              : grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .content-section__title {
            grid-column: 1 / -1;
            max-width  : 315px;
        }

        .text-blocks {
            grid-column          : 1 / -1;
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap           : 15px;
        }

        .text-block {
            display: block;
        }
    }

    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}
