/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--main-font-family: 'IBM Plex Mono', monospace;
--accent-color: #ff0070;
--main-bg-color: #000028;
--title-decor-color: #ff0070;
--dec-gap: 10px;
--bg-image: url(../images/cover-image-dark.png);
--main-text-color: #f1b2ce;
--nav-color: #ff0070;
--nav-hover-color: rgb(255 0 112 / 0.4);
--main-heading-color: #ff0070;
--main-text-size: 18px;
--main-line-height: 130%;
--header-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--header-logo-color: #db00ff;
--footer-logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--footer-logo-color: #db00ff;
--corner-color: #ff0070;
--link-color: #ff0070;
--link-focus-color: #f1b2ce;
--link-hover-color: #f1b2ce;
--background-title-color: #ff0070;
--background-subtitle-color: #ff0070;
--title-shadow-color: #ff0070;
--subtitle-decor-color:#000028;
--header-padding: 10px;
--main-gap: 50px;
--main-padding-vertical: 40px;
--main-padding-horizontal: 10px;
--link-focus-color:#ff0070;
}

@media (width >= 768px) {
:root {
--header-padding: 20px;
--main-gap: 80px;
--main-padding-vertical: 60px;
--main-padding-horizontal: 20px;
--header-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
--footer-logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
}

@media (width >= 1024px) {
:root {
--header-logo-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
--footer-logo-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}
}
